pandas
dbt-core==1.10.13
dbt-trino==1.9.3
astronomer-cosmos==1.10.2
apache-airflow-providers-trino==6.3.3
apache-airflow-providers-cncf-kubernetes==10.8.2
apache-airflow-providers-fab==3.0.0
pyspark
grpcio-status
pyarrow
polars==1.33.1
duckdb